.result--page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.pokee, .pokecard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorFetch, .notExist{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.errorFetch > img, .notExist > img{
    width: 40%;
}

.navBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navBtns > button{
    transform: none;
}

.pokee .pokemon{
    min-width: 275px;
}

.pokecard .pokemon{
    margin: 0 auto;
    min-width: 275px;
}

.pokee h2, .pokecard h2{
    text-align: center;
}